header.header.toolbar.bgc-indigo-500.tc-white-1
  .menubar
    button.btn.btn--m.btn--icon.btn--white(lx-ripple='white', ng-click='Sidebar.toggleSidebar()')
      i.mdi.mdi-menu
  h1.main-logo
    a.main-logo__link(href='/', lx-ripple='white') lumxTest
  nav.main-nav.main-nav--lap-and-up
    ul
      li
        a.main-nav__link(href='/about', lx-ripple='white') About